[env]
RUST_BACKTRACE = "1"
RUST_LIB_BACKTRACE = "1"

[profile.dev]
debug = "line-tables-only"
split-debuginfo = "unpacked"

[profile.dev.package."*"]
debug = false

[profile.bench]
debug = "line-tables-only"
split-debuginfo = "unpacked"

[profile.debug]
inherits = "dev"
debug = "full"

[profile.product]
inherits = "release"
lto = "fat"
codegen-units = 1

[target.x86_64-unknown-linux-gnu]
linker = "clang"
rustflags = ["-C", "link-arg=--ld-path=wild"]

[build]
rustc-wrapper = "/usr/bin/sccache"

[net]
git-fetch-with-cli = true

[source]
crates-io = { replace-with = "rsproxy-sparse" }
rsproxy-sparse = { registry = "sparse+https://rsproxy.cn/index/" }
