unsync*
/*



# 主目录

!.bashrc
!.gitignore
!.zshrc
!.npmrc
!.xprofile
!.dmrc
!/Scripts/
!/Cheat/



# XDG_CONFIG_HOME

!/.config/
/.config/*

!/.config/etc/
!/.config/starship.toml

!/.config/awesome/
/.config/awesome/*
!/.config/awesome/plugins/
!/.config/awesome/rc.lua

!/.config/lvim/
/.config/lvim/*
!/.config/lvim/config.lua

!/.config/zathura/
/.config/zathura/*
!/.config/zathura/zathurarc

!/.config/zellij

!/.config/wezterm/
/.config/wezterm/*
!/.config/wezterm/wezterm.lua

!/.config/rofi/
/.config/rofi/*
!/.config/rofi/config.rasi

!/.config/ranger/
/.config/ranger/*
!/.config/ranger/rc.conf

!/.config/picom/
/.config/picom/*
!/.config/picom/picom.conf

!/.config/pip/
/.config/pip/*
!/.config/pip/pip.conf

!/.config/git/
/.config/git/*
!/.config/git/config



# 必装软件

!/Templates/
/Templates/*
!/Templates/apps
