configuration {
    modi: "drun,run";
    sidebar-mode: true;
    show-icons: true;
    matching: "prefix";
    disable-history: true;
    sort: true;
    sorting-method: "fzf";
    kb-accept-entry: "Return,KP_Enter";
    kb-row-up: "Up,Control+p";
    kb-row-down: "Down,Control+n";
    kb-row-tab: "";
    timeout {
        action: "kb-cancel";
        delay:  0;
    }
    filebrowser {
        directories-first: true;
        sorting-method:    "name";
    }
}

@theme "Arc-Dark"
