// 进入项目目录生成
layout {
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        children
        pane size=1 borderless=true {
            plugin location="zellij:status-bar"
        }
    }

    tab name="doc" cwd="./"

    tab name="server" cwd="./server"
    tab name="client" cwd="./client"
    tab name="protocol" cwd="./docs" focus=true

    tab name="server-debug" cwd="./server"
    tab name="client-debug" cwd="./client"
}
